<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chatbot</title>

  <style>
    table,
    td {
      padding: 6px;
    }

    table {
      border-spacing: 5px;
    }

    body.loading {
      background: #333 url('http://code.jquery.com/mobile/1.3.1/images/ajax-loader.gif') no-repeat 50% 50%;
      -webkit-transition: background-color 0;
      transition: background-color 0;
      opacity: 0;
      -webkit-transition: opacity 0;
      transition: opacity 0;
    }

    .progress.active .progress-bar {
    -webkit-transition: none !important;
    transition: none !important;
    background-color: #6c757d;
}

/* .profile-progress {
  display: inline-block;
 vertical-align: middle;
} */
input[type="radio"]{
  margin: 0 10px 0 10px;
}


.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

  </style>

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <script type="text/javascript" src="{{url_for('static', filename='js/sentiment.js')}}"></script>
</head>

<body class="loading">



  <div class="container">

    <!-- PROCEED NEXT MODEL -->
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content">
        <div class="w3-container">
          <!-- <span onclick="document.getElementById('id01').style.display='none'"> -->
          <div class="text-center">
            <p>Thank you for your time and effort! You can now proceed to the next page.</p>
            <p><button type="button" class="btn btn-primary" id="next">Proceed further</button></p>
          </div>


        </div>
      </div>
    </div>
    <!--  SCENARIO MODEL-->

    <div class="modal fade" id="scenarioModel" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <!-- <h4 class="modal-title">Modal Header</h4> -->
          </div>
          <div class="modal-body">
            {%if complexity == "1"%}
            <h1>Elisha</h1>
            <p class="title">29-year-old, married</p>
            <p style="text-align:left;">Elisha is a 29-year-old woman who lives with her husband Walter, a 37-year-old man. Walter is an IT Business Consultant in a multinational company and has quite a busy schedule. They have a lovely 2-year-old daughter whom they recently enrolled
              into a nearby daycare center. Recently, Elisha found her dream job as a Software Quality Engineer in a local company. Elisha is also a very caring mother. Every morning, she fondly dresses her daughter up for the daycare, prepares her favorite
              lunch, and drops her at the daycare center before she goes to work. </p>

            <p style="text-align:left;">
              Elisha has been very anxious this week since her daughter fell sick. As a result, she had to take three days off work to take care of her daughter. Now, she has to spend some days with her sick daughter at home. Elisha already used up most of her holidays
              this year and only has 3 left. This also happens to be a very busy period at work. This makes her anxious because she is wary of all the work that will pile up over the next few days, by the time she is able to get back to work. She thinks
              that she would not be able to handle a lot of pending work within strict deadlines and this would impact her performance. On contacting her office and providing them with a doctor's note, she is informed that since it is her daughter who
              is sick this would unfortunately not be considered as a sick leave, but a holiday. They explain that there is nothing that can be done, and with these 3 days she will have used up all her holidays for the year with over a third of the year
              to go. This unpleasant response from her employer makes her further anxious about her job. She contacts her colleagues who listen to her, but she feels helpless. She also feels insecure about her job and is worried about the prospect of
              getting fired from her dream job. On the other hand, she is feeling guilty because she is so preoccupied with her work-related issues and presumes that she is not really caring for her daughter to the best of her ability. This makes her
              feel like a bad mom. Her husband is out of the country on a business trip, so she cannot turn to him to help alleviate this stress.
            </p>
            <p style="text-align:left;">
              When stressed out, Elisha talks to herself to calm down. For instance, she tells herself that there is still a chance that she can cope with the workload and manage without any further holidays, and that her company will not fire her. She also tells herself
              that it is okay to feel helpless and stressed while trying to juggle work with raising a young child. She reassures herself that this does not mean that she stopped being a caring mom. This makes her feel a bit better.
            </p>
            {% else %}

            <h1>Carla</h1>
            <p class="title">21-year-old, undergraduate student</p>
            <p style="text-align:left;">Carla is a 21-year-old unmarried girl. She is a final year bachelor student studying Innovation Sciences. She is a very hard-working student and has received an ‘A’ grade on all of her assignments. Her teachers believe that she is one of the
              best students in the class. </p>

            <p style="text-align:left;">
              A new student named Hanna, has recently moved from another class to Carla’s class. Hanna is also a very talented student and received ‘A’ grades on all of her assignments. The presence of Hanna is stressing Carla out. Prior to Hanna’s arrival, Carla considered
              herself to be the best student in class, with the best grades. Now she feels like she needs to compete with Hanna and is wary of losing out on the ‘Best Student Award’, an award presented by the University to the student with the most stellar
              academic record at the end of the study program. Previously, Carla found assignments to be easy and straightforward but now she is obsessed about her performance in the assignments and tends to worry about unnecessary details. For instance,
              she is constantly sending emails to her teachers to clarify the assignments and to make sure that she is doing well according to the instructions. She believes that if she fails to earn that award, then she would be a failure. She finds
              this situation increasingly overwhelming and this makes her feel distressed and worried.

            </p>

            <p style="text-align:left;">
              When Carla is stressed out, she sits in a quiet place and tells herself that this award is something confined to her university, and nobody would know or care about it in the grand scheme of things. So, it would not really impact her future employment
              prospects or what her peers may think of her. This strategy is called self-talk, and this relieves her stress to some degree.
            </p>



            {% endif %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- <h1 class="text-center">Awesome Chatbot App</h1> -->

    <div class="media" style="background-color:whitesmoke">

      <img src="{{url_for('static', filename='img/bot.png')}}" class="rounded-circle float-left img-thumbnail" width="75px" alt="...">
      <div class="media-body">

        {% if context == "stress" %}
        <h5 style="margin:10px">Ustad</h5>
        <div class="hero-button text-center">
          <a href="#" class="btn btn-link"  data-toggle="modal" data-target="#scenarioModel" style="float:right;">
        <span style="font-size:smaller;">Got stuck? <u>click here</u> to read the scenario again</span>
        </a>
        </div>

        <!-- <button type="button" class="btn btn-link" data-toggle="modal" data-target="#scenarioModel" style="float:right;">Read the scenario again</button> -->
        {% endif %} {% if context == "IR" %}
        <h5 style="margin:10px">Talash</h5> {% endif %}

        <span style="margin-left: 10px; color:rgb(32, 199, 32)">Online</span>
      </div>
    </div>


    <!--Messages container-->
    <div id="chatContainer" class="container border overflow-auto" style="height:420px;">

      <table id="chat-history">
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>


    </div>



    <div class="input-group">
      <!-- <input id="textbox" type="text" class="form-control" /> -->
      <textarea class="form-control" id="textbox" rows="3"></textarea>

      <div class="input-group-append">

        <button id="sendBtn" type="btton" class="btn btn-primary">Send</button>
      </div>



    </div>

  </div>


  <script type="text/javascript" src="{{url_for('static', filename='js/bot.js')}}"></script>

  <script>
    history.pushState(null, document.title, location.href);
    window.addEventListener('popstate', function(event) {
      history.pushState(null, document.title, location.href);
    });
    var body = document.getElementsByTagName('body')[0];
    var removeLoading = function() {
      // In a production application you would remove the loading class when your
      // application is initialized and ready to go.  Here we just artificially wait
      // 3 seconds before removing the class.
      setTimeout(function() {
        body.className = body.className.replace(/loading/, '');
      }, 3000);
    };
    removeLoading();
  </script>
</body>

</html>
